{# REV: 1.0 | 2025-09-25 | Hash: 580893f9 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: e2bb39e2 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 229c7506 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: e56dd76c | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 0d7b38a6 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: c6682c36 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 43acc428 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 059bf682 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 1034f376 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: c2fb235b | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 70b5fd2e | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 24bcebf8 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 6a18b242 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 0745986e | Parça: 1/1 #}
{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
  {{ block.super }}
  <li>
    <a href="/calibration/table/?import=1" class="addlink">{% trans "Excel’le İçe Aktar" %}</a>
  </li>
  <li>
    <a href="/calibration/table/" class="historylink">{% trans "Tam Tablo" %}</a>
  </li>
{% endblock %}
