Rev: 2025-10-13 08:30 r2


{% extends "admin/base.html" %}


{% load i18n %}


{% block title %}{% trans "Admin" %}{% endblock %}


{% block branding %}


<h1 id="site-name" class="branding-h1">Admin</h1>


{% endblock %}


{% block nav-global %}


<nav role="navigation" aria-label="Global">


  <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>


</nav>


{% endblock %}


{% block content %}


<main id="content-start" role="main">


  {{ block.super }}


</main>


<footer role="contentinfo">


  <small>©</small>


</footer>


{% endblock %}


{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}{% trans "Admin" %}{% endblock %}
{% block branding %}
<h1 id="site-name" class="branding-h1">Admin</h1>
{% endblock %}
{% block nav-global %}
<nav role="navigation" aria-label="Global">
  <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
</nav>
{% endblock %}
{% block content %}
<main id="content-start" role="main">
  {{ block.super }}
</main>
<footer role="contentinfo">
  <small>©</small>
</footer>
{% endblock %}
