{# REV: 1.0 | 2025-09-25 | Hash: 1e435fdc | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 7497a7a0 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 10905066 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 2227d63f | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 8b0a2bfd | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 20b875e1 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 0ab59a74 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 8e250e89 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 91a5797d | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: bf4d0e12 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: c451b16a | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 8851bb6b | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 5072569b | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 62f33064 | Parça: 1/1 #}
{% extends "maintenance/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block sidebar %}
  <div class="menu-card">
    <div class="menu-title">KALİBRASYON</div>
    <nav class="menu-links small">
      <a href="{% url 'admin:maintenance-calibrations' %}" class="menu-link">Kalibrasyon Tablosu</a>
      <a href="{% url 'admin:maintenance-cal-asset-create' %}" class="menu-link">Yeni Cihaz</a>
    </nav>
  </div>
{% endblock %}

{% block content %}
  <section class="header-card"><h1>{{ title }}</h1></section>

  <div class="card">
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="form-grid cols-2">
        {% for field in form %}
          <label class="form-row">
            <span class="label">{{ field.label }}</span>
            <span class="ctrl">{{ field }}</span>
            {% if field.help_text %}<small class="help">{{ field.help_text }}</small>{% endif %}
            {% for e in field.errors %}<div class="error">{{ e }}</div>{% endfor %}
          </label>
        {% endfor %}
      </div>
      <div class="actions">
        <a class="btn ghost" href="{% url 'admin:maintenance-calibrations' %}">Vazgeç</a>
        <button class="btn primary" type="submit">Kaydet</button>
      </div>
    </form>
  </div>
{% endblock %}
