{# REV: 1.0 | 2025-09-25 | Hash: 3d2b553f | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 8b3d6e78 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 9bdc5cfb | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 8672eddf | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 16496179 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 0e6c841e | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: bc6eb562 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 9aa31c83 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: 0ed40223 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: f071a6bb | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: bbf30a3c | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: ad408317 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: cf591591 | Parça: 1/1 #}
{# REV: 1.0 | 2025-09-24 | Hash: f5b42053 | Parça: 1/1 #}
{% extends "maintenance/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block sidebar %}
  <div class="menu-card">
    <div class="menu-title">KALİBRASYON</div>
    <nav class="menu-links small">
      <a href="{% url 'admin:maintenance-calibrations' %}" class="menu-link">Kalibrasyon Tablosu</a>
      <a href="{% url 'admin:maintenance-calibration-create' %}" class="menu-link">Yeni Kalibrasyon</a>
    </nav>
  </div>
{% endblock %}

{% block content %}
  <section class="header-card"><h1>{{ title }}</h1></section>

  <div class="card">
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="form-grid cols-2">
        {% for field in form %}
          <label class="form-row">
            <span class="label">{{ field.label }}</span>
            <span class="ctrl">{{ field }}</span>
            {% if field.help_text %}<small class="help">{{ field.help_text }}</small>{% endif %}
            {% for e in field.errors %}<div class="error">{{ e }}</div>{% endfor %}
          </label>
        {% endfor %}
      </div>
      <div class="actions">
        <a class="btn ghost" href="{% url 'admin:maintenance-calibrations' %}">Vazgeç</a>
        <button class="btn primary" type="submit">Kaydet</button>
      </div>
    </form>
  </div>
{% endblock %}
